node_modules/
client/node_modules/
server/node_modules/

dist/
client/dist/
server/dist/
bin/
obj/
tools/**/bin/
tools/**/obj/

.agent/
.script-state/
.windsurf/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.DS_Store
.idea/
.vscode/
.vs/

.env
.env.*
client/.env*
server/.env*

server/data.sqlite
server/uploads/

vxpersstore design.zip
